observatory = "OMU1P85M"
location = { lon = "138.472153deg", lat = "35.940874deg", height = "1386m" }

antenna_pid_param_az = [1.5, 0.0, 0.0]
antenna_pid_param_el = [1.5, 0.0, 0.0]
antenna_drive_range_az = ["0deg", "360deg"]
antenna_drive_range_el = ["10deg", "90deg"]
antenna_drive_warning_limit_az = ["10deg", "350deg"]
antenna_drive_warning_limit_el = ["15deg", "80deg"]
antenna_drive_critical_limit_az = ["5deg", "355deg"]
antenna_drive_critical_limit_el = ["10deg", "85deg"]
antenna_pointing_accuracy = "10arcsec"
antenna_pointing_parameter_path = "./pointing_param.toml"
antenna_max_acceleration_az = "1.6deg s-2"
antenna_max_acceleration_el = "1.6deg s-2"
antenna_max_speed_az = "1.6deg/s"
antenna_max_speed_el = "1.6deg/s"
antenna_speed_to_cmd_factor_az = "200000s/deg"
antenna_speed_to_cmd_factor_el = "200000s/deg"
antenna_command_frequency = 50
antenna_command_offset_sec = 3

ros_service_timeout_sec = 10
ros_communication_deadline_sec = 0.01
