[tool.poetry]
name = "neclib"
version = "0.3.1"
description = "Pure Python tools for NECST."
license = "MIT"
readme = "README.md"
authors = ["KaoruNishikawa <k.nishikawa@a.phys.nagoya-u.ac.jp>"]
homepage = "https://github.com/nanten2/neclib"
repository = "https://github.com/nanten2/neclib"

[tool.poetry.dependencies]
python = ">=3.6.1, <3.10"
astropy = [
    { version = "^3.0", python = "<3.8" },
    { version = "^5.0.3", python = "^3.8" }
]
dataclasses = { version = "^0.8", python = "~3.6" }
importlib-metadata = { version = "^4.4", python = "<3.8" }
numpy = "^1.19"
typing-extensions = { version = ">=3.0, <5.0", python = "<3.8" }

[tool.poetry.dev-dependencies]
black = "^20.6b"
flake8 = "^3.8"
ipykernel = "^5.3"
jupyter = "^1.0"
m2r2 = "^0.3"
notebook = "^6.4"
pydata-sphinx-theme = "^0.7.2"
pytest = "^5.2"
sphinx = "^4.4"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
