:root {
    --pst-color-link: 0, 184, 255;
    --pst-color-link-hover: 239, 31, 255;
}

/* Source Code */
pre {
    filter: invert(100%) hue-rotate(120deg) brightness(100%) contrast(180%);
}

/* Text Selection */
::selection {
    background-color: #000;
    color: #FFF;
}

/* Alias Links */
.doc {
    font-family: var(--pst-font-family-monospace);
    font-weight: bold;
    font-size: 87.5%;
}

/* Function Parameters */
em span.pre {
    color: #00B;
}

/* Docs Logo */
.navbar #navbar-start {
    margin-left: 1em;
}

.navbar-brand {
    display: flex;
    align-items: center;
}

p.title {
    margin-bottom: 0;
}